<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome"/> 
	<listeners>
<listener class-name="com.cts.urbanladder.util.ExtentReport"/>
</listeners>
  <test thread-count="5" name="Test">
    <parameter name="browser" value="chrome"/> 
    <classes>
		<!--class name="com.cts.urbanladder.test.BookshelvesTest"/-->
		<class name="com.cts.urbanladder.test.BookshelvesExcludeTest"/>
      <class name="com.cts.urbanladder.test.StudyChairsTest"/>
      <class name="com.cts.urbanladder.test.BeingAtHomeTest"/>
      <!--class name="com.cts.urbanladder.test.CheckOutTest"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
